/* Row-post Post */
.row-post {
    color: rgb(130, 130, 131);
}

.row-post h2 {
    margin: 20px 0px 0px 20px;
    font-size: 17px;
    height: 2rem;
}

.row-post .posters {
    display: flex;
    padding: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-left: 10px;
}

.row-post .posters::-webkit-scrollbar {
    display: none;
}

.row-post .poster {
    max-height: 150px;
    margin-right: 20px;
    cursor: pointer;
}

.row-post .small-poster{
    max-height: 100px;
    margin-right: 20px;
    cursor: pointer;
}
.row-post .poster:hover{
    transform: scale(1.1);
}
.row-post .small-poster:hover{
    transform: scale(1.1);
}